@model TicaretSitesi_yazlab.Models.Laptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModelNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingGeneration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperatingGeneration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OperatingType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiskSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiskSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weblink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weblink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Svg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Svg)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
